.text-lg {
    margin-bottom: 16px; /* Adjust the value as needed */
}
.status-label {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-top: 8px;
}

.skill-category {
    flex: 1 1 200px; /* Adjust the 200px to your minimum width requirement */
    padding: 15px;
    margin: 5px;
}

.skill-category h3 {
    cursor: pointer;
}

.skill-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: none; /* Hide by default */
}
/* When 'hidden' class is removed, content should be visible */
.skill-content:not(.hidden) {
    display: block; /* Or 'flex', 'grid', etc., depending on your layout */
    max-height: 1000px; /* Adjust as needed */
}

/* Toggle to show content */
.skill-category.active .skill-content {
    max-height: 1000px; /* Adjust as needed */
}